// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

section{
	width: 100%; 
	height: 1350px;
	padding-left: 10px;
	background-position: center center; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
}

